header {
  background-color: rgb(240, 240, 240);
  height: 120px;
  padding: 30px 50px;
  line-height: 30px;
  border-bottom: solid 1px;
  border-bottom-color: rgb(200, 200, 200);
}
header a {
  color: rgb(255, 153, 0);
}
.header-text h2 {
  font-size: 20px;
  color: rgb(225, 123, 0);
}
.header-text h1 {
  font-size: 50px;
  color: rgb(255, 153, 0);
}
