@import "button.css";
@import "header.css";
@import "footer.css";
@import "body.css";

.affilication {
  padding: 60px 40px 40px 40px;
  color: rgb(100, 100, 100);
}
.affilication a {
  color: rgb(100, 100, 100);
  padding-left: 40px;
}
.affilication h1 {
  padding-left: 20px;
  border-left: solid;
  border-left-color: rgb(200, 200, 200);
}
.affilication-text li {
  line-height: 150%;
  font-size: 20px;
}
.span-course {
  font-weight: bold;
}
