@import "button.css";
@import "header.css";
@import "footer.css";
@import "body.css";

.main-container {
  padding: 100px 40px 40px 40px;
  color: rgb(100, 100, 100);
}
.main-container .seminar-btn {
  text-align: center;
  padding-top: 60px;
  width: 20%;
}
.main-container .seminar-btn a {
  display: block;
  border: solid 1px;
  padding: 40px;
  color: rgb(100, 100, 100);
}
